<ul id="lists">
  <% sort_lists(@lists) do |list, list_id| %>
    <li class=<%=list_class(list_id) %>>
      <a href = "lists/<%= list_id %>">
        <h2><%= list[:name] %></h2>
        <p><%= remaining(list) %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <div class="actions">
    <a class="add" href = "/lists/new">New List</a>
  </div>
<% end %>